<h1>MS Word / LibreOffice headers generator</h1>

<label for="json_input_json_input">Enter input</label>
<p> ex. { id: 1, title: "heading1", heading_level: 0 } </p>
<br>

<textarea cols="50" rows="7" name="json_input" id="json_input"></textarea>
<br>

<input type="button" name="commit" id="show_heading" value="Show Data" class="btn btn-large btn-primary">

<input type="button" name="clear" id="clear" value="clear result" class="btn btn-large btn-primary">

<div id="show_data"></div>
